.footer {
  position: fixed;
  z-index: 100;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 5px 10px;
  height: 60px;
  background-color: #181818;
}

.footer > * {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 5px;
  padding-right: 20px;
}

.footer__player {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: black;
  font-size: 1.5em;
  font-weight: 900;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.footer__player--currentTime {
  left: 40%;
}

.footer__player--totalTime {
  left: 60%;
}
